<section class="plan">
  <div class="container plan__container">
    <div class="plan__selector">
      <h2>Get the right plan for future product.</h2>
      <div class="plan__selector-block">
        <div class="item active">
          <span>Yearly</span>
        </div>
        <div class="item">
          <span>Monthly</span>
        </div>
      </div>
    </div>
    <div class="plan__content">
      <div class="plan__item">
        <span>Starter</span>
        <h2>Free</h2>
        <p>1 Website 5 GB Hosting Limited Support</p>
        <a class="plan__btn">
          <span>Get Started</span>
        </a>
      </div>
      <div class="plan__item active">
        <span>Premium</span>
        <h2>$29/month</h2>
        <p>10 Website 15 GB Hosting Premium Support</p>
        <a class="plan__btn">
          <span>Get Started</span>
        </a>
      </div>
      <div class="plan__item">
        <span>Enterprise</span>
        <h2>$49/month</h2>
        <p>Unlimited Website 50 GB Hosting Premium Support</p>
        <a class="plan__btn">
          <span>Get Started</span>
        </a>
      </div>
    </div>
  </div>
</section>
